$font_path_hh: '~@/assets/fonts/HamburgSans/';

@font-face {
  font-family: 'HamburgSans-Regular';
  src: url($font_path_hh + 'HamburgSans-Regular/HamburgSans-Regular.eot?');
  src: url($font_path_hh + 'HamburgSans-Regular/HamburgSans-Regular.eot?#iefix') format('embedded-opentype'),
  url($font_path_hh + 'HamburgSans-Regular/HamburgSans-Regular.woff') format('woff'),
  url($font_path_hh + 'HamburgSans-Regular/HamburgSans-Regular.woff2') format('woff2'),
  url($font_path_hh + 'HamburgSans-Regular/HamburgSans-Regular.ttf') format('truetype'),
  url($font_path_hh + 'HamburgSans-Regular/HamburgSans-Regular.svg#HamburgSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}