$font_path_hh: '~@/assets/fonts/';

@font-face {
  font-family: 'Roboto';
  src: url($font_path_hh + 'Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($font_path_hh + 'Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($font_path_hh + 'Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

$hamburg-blue: #005CA9;
$hamburg-blue-dark: #003064;
$hamburg-blue-dark25: #BFCBD8;
$hamburg-blue-dark50: #BFCBD8;
$hamburg-red: #E10019;

$hamburg-grey-inactive: #00306340;
$hamburg-grey-background: #00000029;

$hamburg-chart: #707070;

